html {
  height: 100%;
}
body {
  font-family: "Alegreya SC", sans-serif;
  margin: 0;
  height: 100%;
}
#content {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.image {
  width: 20%;
  cursor: pointer;
}
.text {
  color: white;
  text-align: center;
  font-size: 3rem;
}
img {
  width: 100%;
  text-align: center;
  margin: -5px;
  border: 5px solid white;
  border-radius: 5px;
  float: left;
}
h1 {
  position: absolute;
  top: 5%;
  width: 95%;
  opacity: 0;
  text-align: center;
  font-size: 4rem;
  padding-right: 10px;
  padding-left: 10px;
  font-family: "Alegreya SC", sans-serif;
  color: white;
  animation-name: intro;
  animation-duration: 4s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  cursor: pointer;
}
a {
  text-decoration: none;
}
figure {
  width: 100%;
  margin: 0;
}
figcaption {
  opacity: 0;
  transition: opacity 1s ease;
}
figcaption:hover {
  opacity: 1;
}
#background {
  display: block;
  background-image: url("../img/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: brightness(50%);
  z-index: -1;
}
#first-option {
  position: absolute;
  top: 25%;
  left: 20%;
  opacity: 0;
  transition: filter 1s ease, transform 1s ease;
  animation-name: intro;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
#first-option:hover {
  filter: brightness(120%);
  transform: scale(1.4);
}
#content:hover ~ #first-option{
  display: none;
}
#second-option {
  position: absolute;
  top: 25%;
  left: 60%;
  opacity: 0;
  transition: filter 1s ease, transform 1s ease;
  animation-name: intro;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
#second-option:hover {
  filter: brightness(120%);
  transform: scale(1.4);
}
#third-option {
  position: absolute;
  top: 65%;
  left: 20%;
  opacity: 0;
  transition: filter 1s ease, transform 1s ease;
  animation-name: intro;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
#third-option:hover {
  filter: brightness(120%);
  transform: scale(1.4);
}
#forth-option {
  position: absolute;
  top: 65%;
  left: 60%;
  opacity: 0;
  transition: filter 1s ease, transform 1s ease;
  animation-name: intro;
  animation-duration: 3s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}
#forth-option:hover {
  filter: brightness(120%);
  transform: scale(1.4);
}
@keyframes intro {
  0% {opacity: 0;}
  100% {opacity: 100;}
}
@media (min-width: 600px) and (max-width: 1040px) {
  h1 {
    font-size: 3rem;
  }
  #first-option {
    top: 30%;
    left: 15%;
  }
  #second-option {
    top: 30%;
    left: 65%;
  }
  #third-option {
    top: 60%;
    left: 15%;
  }
  #forth-option {
    top: 60%;
    left: 65%;
  }
  .text {
    opacity: 1;
    font-size: 1.5rem;
  }
}
@media (max-width: 599px) {
  h1 {
    font-size: 2rem;
  }
  #first-option {
    top: 30%;
    left: 15%;
  }
  #second-option {
    top: 30%;
    left: 65%;
  }
  #third-option {
    top: 60%;
    left: 15%;
  }
  #forth-option {
    top: 60%;
    left: 65%;
  }
  img {
    margin-left: -5px;
    margin-bottom: 5px;
  }
  .text {
    opacity: 1;
    font-size: 0.75rem;
  }
